@media (min-width: 768px) {
  .homepage-columns {
    flex-direction: row-reverse;
  }
}

@media (max-width: 768px) {
  .homepage-sidebar .instruments-wrapper,
  .pages-list {
    display: none;
  }
}