.about-page {
  display: flex;
  flex-direction: column;
}

section.has-border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.section-title {
  display: flex;
  align-items: center;
  img {
    height: 40px;
  }
  h1 {
    font-size: 32px;
    line-height: 49px;
    padding-left: 5px;
    color: #1c1080;
  }
}

.about-section-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
  }
}

.useful-instruments {
  display: flex;
  flex-direction: column;
  section {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
  }
}

.search-bar {
  display: flex;
  input {
    background: #ffffff;
    border: 1px solid #42d2f2;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: italic;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    padding: 16px 8px;
    padding-right: 38px;
    outline: none;
  }
  svg {
    position: relative;
    top: 16px;
    right: 30px;
  }
}

.info-card {
  .card-title {
    border-left: 16px solid;
    background: #f2f2f2;
    font-size: 16px;
    display: flex;
    padding: 20px;
  }
  .card-content {
    background: rgba(247, 247, 247, 0.5);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 0px 16px 16px 16px;
    button {
      outline: none;
      border: none;
      padding: 8px;
      cursor: pointer;
    }
  }
  &.info-card-news {
    .card-title {
      border-color: #05d6c7;
    }
    button {
      background: #05d6c7;
      color: #ffffff;
    }
  }
  &.info-card-help {
    .card-title {
      border-color: #ff1616;
    }
    button {
      background: #ff1616;
      color: #ffffff;
    }
  }
  &.info-card-data {
    .card-title {
      border-color: #f5bcd6;
    }
    button {
      background: #f5bcd6;
      color: #ffffff;
    }
  }
}

@media (min-width: 801px) {
  .about-page {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .useful-instruments {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    section {
      margin: 0;
    }
  }
  .about-section-useful-instruments {
    grid-column: 1 / 3;
    display: "grid";
  }
}
