.useful-tools-grid>.useful-tools{
  display: flex;
  flex-direction: column;
  section {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
  }
}

.useful-tools-list>.useful-tools{
  display: flex;
  flex-direction: column;
  section {
    margin: 0;
  }
  & .info-card {
    margin: 10px 0;
  }
}

.info-card {
  .card-title {
    border-left: 16px solid;
    background: #f2f2f2;
    font-size: 16px;
    display: flex;
    padding: 20px;
  }
  .card-content {
    background: rgba(247, 247, 247, 0.5);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 0px 16px 16px 16px;
    button {
      outline: none;
      border: none;
      padding: 8px;
      cursor: pointer;
    }
  }
  &.info-card-news {
    .card-title {
      border-color: #05d6c7;
    }
    button {
      background: #05d6c7;
      color: #ffffff;
    }
  }
  &.info-card-help {
    .card-title {
      border-color: #ff1616;
    }
    button {
      background: #ff1616;
      color: #ffffff;
    }
  }
  &.info-card-data {
    .card-title {
      border-color: #f5bcd6;
    }
    button {
      background: #f5bcd6;
      color: #ffffff;
    }
  }
}
.search-bar {
  display: flex;
  input {
    background: #ffffff;
    border: 1px solid #42d2f2;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: italic;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    padding: 16px 8px;
    padding-right: 38px;
    outline: none;
  }
  svg {
    position: relative;
    top: 20px;
    right: 30px;
  }
}


@media (min-width: 801px) {
  .useful-tools-grid>.useful-tools{
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    column-gap: 10px;
    section {
      margin: 0;
    }
  }
  .useful-tools-list>.useful-tools{
    display: flex;
    flex-direction: column;
    section {
      margin: 0;
    }
  }
}