.option {
  cursor: pointer;
  display: grid;
  min-height: 68px;
  grid-template-columns: 40px calc(100% - 40px);
  align-items: center;
  margin: 2px 0;
  &.selected {
    .answer-check { 
      background: #05D6C7;;
    }
  }
  .answer-check { 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 72, 144, 0.2);
    img {
      width: 20px;
      height: 20px;
    }
  }
  .answer-text {
    display: flex;
    align-items: center;
    height: 100%;
    background: #F2F2F2;
    padding: 0 20px;
    font-size: 16px;
    line-height: 24px;
  }
}

.question-content {
  .question {
    font-size: 20px;
    background: #1C1080;
    color: #ffffff;
    padding: 18px;
  }
}

.action-buttons {
  padding: 10px 0;
  display: flex;

  * {
    margin-right: 16px;
  }
}