.newsletter {
  margin-top: 20px;
}

.search-input {
  margin-bottom: 2em;
}

.homepage-content {
  .message .message-body img {
    max-width: 750px;
    width: 100%;
  }

  .content iframe {
    margin: 20px auto;
    display: block;
  }
}

@media (max-width: 1024px) {
  .homepage-content .content iframe {
    width: 100%;
  }
}

/* media queries are inclussive, so to avoid overlap, min-width query must be one pixel more than the max-width */
@media (min-width: 769px) {
  .homepage-columns {
    flex-direction: row-reverse;
  }

  .homepage-content .instruments-wrapper,
  .homepage-content .newsletter {
    display: none;
  }
}

@media (max-width: 768px) {
  .homepage-sidebar .instruments-wrapper,
  .homepage-sidebar .newsletter,
  .pages-list {
    display: none;
  }
}
