.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.App-content {
  height: calc(100vh - 250px);
}

.App-footer {
  background-color: #1C1080;
  height: 100px;
}

@media (min-width:480px) { 
  .App-header {
    background-color: #fff;
    display: grid;
    height: 150px;
    grid-template-columns: 100%;
    grid-template-rows: 80px 69px;
  }
}