@import '~bulma/sass/utilities/_all.sass';
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/components/level.sass";

.container {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.__social-share-container {
  margin-bottom: 1.6rem;
}

.incubated-by-wrapper {
  margin-top: 2rem;
}
