.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.App-content {
  margin: 0 40px;
  width: calc(100% - 80px);
  height: 100%;
}

@media (min-width:480px) { 
  .App-header {
    background-color: #fff;
    display: grid;
    height: 150px;
    grid-template-columns: 100%;
    grid-template-rows: 80px 69px;
  }
}