.App-header {
  background-color: #fff;
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  height: 50px;
}

.App-content {
  height: calc(100vh - 150px);
}

.App-footer {
  background-color: #1C1080;
  height: 100px;
}
